@media (max-width: 768px) {
    .homepage-container {
      flex-direction: column;
    }
  
    .image-container {
      min-height: 150px !important;
      margin-bottom: 0 !important;
    }
  
    .user-image img {
      width: 50px !important;
      height: 50px !important;
      border-radius: 50%;
    }
  
    .info-box {
      text-align: center;
    }
  
    .space {
      padding-left: 0 !important;
    }
  
    .info-box {
      text-align: center;
    }
  
    .space {
      padding-left: 0;
    }

    .button {
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .button:hover {
      background-color: #2980b9;
    }
  
    .action-buttons,
    .action-buttons-1 {
      flex-direction: column;
      align-items: center;
    }
  
    .action-buttons a,
    .action-buttons-1 a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .action-buttons img {
      width: 150px;
    }
  
    .action-buttons-1 span {
      margin-top: 5px;
    }
  
    .body-main {
      overflow-x: hidden;
    }
  }
  
  .homepage-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    display:contents;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  h2 {
    color: #000000;

  }
    
  
  .info-field {
    margin-top: 20px; 
  }

  
  .info-field p:first-child {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
  }

  
  .info-field p:last-child {
    font-size: 15px;
    margin: 15px 0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
  }

  
  input[type="text"]:focus {
    outline: none;
    border-color: #3498db;
  }

  
  input[type="text"]:hover {
    border-color: #3498db;
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .image-container {
    margin-bottom: 20px;
    width: 100%;
    min-height: 200px;
  }
  
  .background-home {
    width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
  }
  
  .account-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user-info-1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
  }
  
  .user-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .user-image img {
    width: 105px;
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .space {
    padding-left: 500px;
  }

  .button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 30px 50px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 0 auto;
    display: flex;
  }

  .button-container {
    margin: 20px auto; 
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }
  
  .action-buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
  
  .action-buttons a img {
    width: 250px;
    height: auto;
  }
  
  .action-buttons a span {
    text-align: center;
    font-weight: bold;
    margin-top: -12px;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
    color: #002c3e;
  }