@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column;
  }

  .image-container {
    min-height: 150px !important;
    margin-bottom: 0 !important;
  }

  .user-image img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
  }

  .info-box {
    text-align: center;
  }

  .space {
    padding-left: 0 !important;
  }

  .info-box {
    text-align: center;
  }

  .space {
    padding-left: 0;
  }

  .action-buttons,
  .action-buttons-1 {
    flex-direction: column;
    align-items: center;
  }

  .action-buttons a,
  .action-buttons-1 a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .action-buttons img {
    width: 150px;
  }

  .action-buttons-1 span {
    margin-top: 5px;
  }

  .body-main {
    overflow-x: hidden;
  }
}

.homepage-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-bottom: 20px;
  width: 100%;
  min-height: 200px;
}

.background-home {
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.account-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-1 {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 20px;
}

.user-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.user-image img {
  width: 105px;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.space {
  padding-left: 500px;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.action-buttons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.action-buttons a img {
  width: 250px;
  height: auto;
}

.action-buttons a span {
  text-align: center;
  font-weight: bold;
  margin-top: -12px;
  font-family: "Poppins", sans-serif;
  margin-right: 20px;
  color: #002c3e;
}