.card {
  width: calc(100% - 40px); /* -40px karena ada margin kanan dan kiri 20px */
  padding: 20px;
  border: 1px solid #adabab; /* garis luar kartu */
  border-radius: 10px; /* sudut melengkung untuk kartu */
  background-color: #f5f5f5; /* warna latar belakang untuk kartu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* efek bayangan */
  margin: 20px auto; /* untuk spacing horizontal */
}

.card-body {
  /* background-color: #007bff; Warna latar belakang judul */
  color: #000;
  /* Warna teks judul */
  padding: 10px;
  margin: -20px -20px 10px -20px;
  /* Margin negatif untuk menyembunyikan garis atas kartu */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.paragraph {
  color: #202020;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}

.deadline {
  font-size: 14px;
  border-top: 1px solid #adabab;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 20px -20px -20px -20px;
  margin-top: 10px;
  /* Jarak antara isi kartu dan kolom deadline */
  color: #000;
  /* Warna teks kolom deadline */
  text-align: right;
}

/* Centering the modal */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}