.tgl{
    background: #F8444F;
    width: fit-content;
    height: 20;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.jam{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
